extends layout
block content
	script(type='text/javascript', src='/javascripts/lib/markitup/jquery.markitup.js')
	script(type='text/javascript', src='/javascripts/lib/markitup/sets/markdown/set.js')
	script(type='text/javascript', src='/javascripts/app/editpost.js')
	link(rel='stylesheet', type='text/css', href='/javascripts/lib/markitup/skins/markitup/style.css')
	link(rel='stylesheet', type='text/css', href='/javascripts/lib/markitup/sets/markdown/style.css')
	div#article.span12
		fieldset			
			.clearfix
				label(for="title") Title
				.input
					input.input-xxlarge#title(type="text", name="blog[title]") 
			.clearfix
				label(for="blog") Blog
				.input
					textarea.input-xxlarge#blog(name="blog[body]",rows="7")	
			.clearfix
				label(for="tags") Tags
				.input
					input.input-xxlarge#tags(type="text", name="blog[tags]")
			.clearfix
				.input
					input.input-xxlarge#state(type="checkbox", name="blog[state]") 
					label(for="state", style="display:inline;")  Public
			.actions
				input.btn.btn-danger#publish(value="Publish!")
				a.btn(href="/") Cancel
			script(type="text/javascript")
				OYW.App.Post.init("#{id}");