extends layout
block content
	div#article.span8
		#listblogs
	script(type='text/javascript')
		$(document).ready(function() {
			var oyw=new OpenYourWorld();
			oyw.loadAll(function(data){
				console.log(data);
				$.each(data,function(key,value){
					$('#listblogs').append(dateToYMD(new Date(value.created)));
					$('#listblogs').append(' ');
					$('#listblogs').append('<a href="/blog/' + value._id + '">' + value.title + '</a>');
					$('#listblogs').append('<br/>');
				});				
			});
		});
		function dateToYMD(date)
		{
			var d = date.getDate();
			var m = date.getMonth()+1;
			var y = date.getFullYear();
			return '' + y +'-'+ (m<=9?'0'+m:m) +'-'+ (d<=9?'0'+d:d);
		}