doctype 5
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel="shortcut icon", href="/images/favicon.ico")
		link(href='http://fonts.googleapis.com/css?family=Andika', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css', media='screen')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css', type='text/css', media='screen')
		link(rel='stylesheet', href='/stylesheets/styles.css', type='text/css', media='screen')
		script(type='text/javascript', src='/javascripts/lib/jquery-1.7.2.min.js')
		script(type='text/javascript', src='/javascripts/lib/marked.js')
		script(type='text/javascript', src='/javascripts/app/utils.js')
		script(type='text/javascript', src='/javascripts/app/oyw.js')
		
	body
		div#wrap.container-fluid.row-fluid			
			block header
				div#header.span8
					h1
						a(href='/')= title					
			block script
			div#main
				block content				
				block comment
			block footer
				div#footer.span8
					div(style="color:rgba(185,72,72,0.98);") Hi, I am <b>Dipesh</b>, I write and code sometimes. Find me on 
						a(href='https://plus.google.com/104515777984019906793/posts') Google+ 
						, 
						a(href='https://github.com/dpesha') GitHub 
						, 
						a(href='https://twitter.com/dpesha') Twitter

