extends layout
block content
	div#article.span12
		h3#title
		h6#date		
		div#body
		- if(user)
			.admin
				a(href="", id="edit") Edit
				span 
				a(href='javascript:void(0)', id="delete") Delete
block comment
	div#comment.span12
		span#ccount.span12
		dl#commentlist			
		div#commentbox.span8 Leave a Comment
			fieldset			
				.clearfix
					label(for="name") Name
					.input
						input.input-xlarge#name(type="text", name="comment[name]") 
				.clearfix
					label(for="url") Url
					.input
						input.input-xlarge#url(type="text", name="comment[url]") 
				.clearfix
					label(for="ctext") Comment
					.input
						textarea.input-xlarge#ctext(name="comment[body]",rows="4")	
				.actions
					input.btn.btn-primary.input-small#submit(value="Submit")
					span  
					a.btn(href="/") Cancel			
	script(type='text/javascript')
		var id="";
		$(document).ready(function() {
			var oyw=new OpenYourWorld();
			id=("#{id}");
			oyw.load(id,function(data){
				$('#title').html(data[0]);
				$('#date').append(dateToYMD(new Date(data[2])));
				$('#body').append(marked(data[3]));
				$('#edit').attr('href',window.location.href+'/edit');
				$('#delete').click(function(){
					showDialog(id);
				});
				$('#submit').click(function(){
					var path="comments." + data[6].length;
					submitComment(id,path);
				});				
				$('#ccount').append('{ ' + data[6].length + ' Comments }');
				populateComments($('#commentlist'),data[6], "comments");
					
			});
		});
		function submitComment(id,path){
			
			var oyw=new OpenYourWorld();
			var data={
				name:$('#name').val(),
				url:$('#url').val(),
				body:$('#ctext').val()
			}
			var comment={
					path:path,
					data:data									
			}									
			
			// oyw.postComment(id,{comment:comment},function(data){
			// 	window.location.reload();					
			// });
						
		}
		function populateComments(parent, comments, ref ){
			
			for(var i=0;i<comments.length; i++){
				var reff = ref + '.' + i ;
				var refff = reff + '.commments';
				var reffff= refff + '.' + ((comments[i].comments!==undefined) ? comments[i].comments.length:0);
				var a='<dt><a href="'+comments[i].url+'">'+comments[i].name+'</a></dt><dd>'+comments[i].body+'</dd><dd class="reply"></dd>';
				parent.append(a);
						
				$('<a href="#">Reply</a>').click({param:reffff},function(e) {
					e.preventDefault();
					submitComment(id,e.data.param);
				}).appendTo(parent.children('dd.reply').last());

				if(comments[i].comments !== undefined){
					for(var j=0;j<comments[i].comments.length;j++){						
						populateComments(parent.children('dd.reply'),comments[i].comments, refff);
					}
				}
			}
		}
		function dateToYMD(date)
		{
			var d = date.getDate();
			var m = date.getMonth()+1;
			var y = date.getFullYear();
			return '' + y +'-'+ (m<=9?'0'+m:m) +'-'+ (d<=9?'0'+d:d);
		}
		function showDialog(id){
			if(confirm('Really, do you want to delete?')){
				var oyw = new OpenYourWorld();
				oyw.del(id,function(data){
					window.location.replace('/');
				});			
			} else {
				return false;
			}
		}
		
		
	
	