extends layout
block script
	script(type='text/javascript', src='/javascripts/lib/marked.js')	
	script(type='text/javascript', src='/javascripts/app/post.js')

block content
	div#article.span12
		h3#title
		h6#date		
		div#body
		- if(user)
			.admin
				a(href="", id="edit") Edit
				span 
				a(href='#', id="delete") Delete
block comment
	div#comment.span12
		span#ccount.span12
		dl#commentlist			
		div#commentbox.span8 Leave a Comment
			fieldset#field			
				.clearfix
					label(for="name") Name 
						span.mandatory *
					.input
						input.input-xlarge#name(type="text", name="comment[name]")
				.clearfix
					label(for="url") Url 
						span.mandatory *
					.input
						input.input-xlarge#url(type="text", name="comment[url]")
				.clearfix
					label(for="ctext") Comment 
						span.mandatory *
					.input
						textarea.input-xlarge#ctext(name="comment[body]",rows="4")
				.actions
					input.btn.btn-danger.input-small#submit(value="Submit")
	script(type="text/javascript")
				OYW.App.Post.init("#{id}");