html, body {
  	height:100%;
}

ul {
	padding:10px 10px;
}

li {
	font-size:14px;
	line-height: 24px;
}
body {
	height:100%;
	color:rgba(54,54,54,0.99);
    font: 20px "Andika", sans-serif;
    -webkit-transition: all 500ms ease-in-out; 
    background-image:url('/images/brillant.png');  
}

#wrap {
	margin:0;
	padding:0;
}

#wrap > * {
	padding:10px 20%;
}

#header {
	background-color:rgba(185, 72, 72, 0.98);	
}

#header h1 a {
	text-decoration: none;
	color:white;
}

#footer {
	font-size: 14px;
	color: rgba(0,0,0,0.6);
	background-color: rgba(236,162,162, 0.6);
}


#header,#footer {	
	width:100%;	
}

#article, #comment {
	padding:10px 20px;
	background-color:rgba(255, 255, 255, 0.9);
}

#comment, #footer {
	margin-left:0px;
}

#title {
	padding-bottom:5px;
	color:#700a08;
	border-bottom:1px solid #CEC1C1;
	font-size:24px;
}



#listblogs {
	margin: 0px;
}

#listblogs a {
	text-decoration: none;
	color:#700a08;
}

#listblogs li {
	list-style:none;
	padding:5px 0;
}

.mandatory {
	color:red;
}


/*******************************/

#commentlist {
	padding-top:15px;
	font-size:15px;
	color:rgba(54,54,54,0.8);
}

dt, dd {
	padding: 5px 0px;
}

#commentlist dt {
	border-top:1px dotted #CEC1C1;
}


#commentbox {
	margin-left:0px;
	font-size:15px;
	color:rgba(54,54,54,0.8);
}

dt a {
	text-decoration:none;
	color:#BB0303;
}

dd > a {
	text-decoration:none;
	color:#888888;
}

/*******************************/

@media only screen and (max-width: 680px) { 

	body {
    	margin: 0;
    	padding: 0;    	
  	}  	

  	#wrap > * {
		padding:10px 2%;
	}

	#main {
		padding:0;
	}


	#footer {
		font-size: 12px;
	}
}